<nav class="navbar navbar-expand-lg navbar-light header">
  <a class="navbar-brand"><img class="logo" src="/assets/logo2.png" alt=""></a>
  <a routerLink="" class="ml-auto nav-top-link" type="submit" *ngIf="!isLoggedIn; else elseBlk">Log In</a>

  <ng-template #elseBlk>
    <a (click)="logout()" class="ml-auto nav-top-link" type="submit">Logout</a>
  </ng-template>
</nav>

<div class="container-fluid content-container">
  <router-outlet></router-outlet>
</div>

<nav class="navbar navbar-expand-lg navbar-light footer">
  <a class="small" >&copy; 2020 CSEbook</a>
</nav> 


