<div class="pb-3">
  <h1 mat-dialog-title>Deleting Chapter</h1>
  <div mat-dialog-content>
    <p>Are you want to delete this chapter?</p>
    <p> Deleting this chapter will also delete all the topics under this chapter. </p>
    <p> To delete please type the chapter title <span class="font-weight-bold"> {{ chapterTitle }} </span></p>
  </div>
  <div mat-dialog-actions  class="text-right">
    <mat-form-field class="w-100"  appearance="outline">
      <mat-label>Type to confirm</mat-label>
      <input (keyup)="change()"  autocomplete="off" [(ngModel)]="inputValue" matInput placeholder="Placeholder">
      <mat-hint>Type <span class="font-weight-bold">{{ chapterTitle }}</span> to confirm</mat-hint>
    </mat-form-field>
    <button mat-raised-button (click)="confirm()" [disabled]="disabled"  color="warn" cdkFocusInitial>Confirm</button>
  </div>
</div>
