@import "../../../../../color"
.side-nav
  border-right: 1px solid $primary
  height: calc(100vh - 110px)

.example-tree-invisible
  display: none

.example-tree ul,
.example-tree li
  margin-top: 0
  margin-bottom: 0
  list-style-type: none


input:disabled
  border: 0
  background: transparent
  padding: 4px
  cursor: text
  color: #202020

a
    cursor: pointer


.readonly
