<div>
  <h1 class="mat-h1 sans-serif"> {{ instructor.firstName }} {{ instructor.lastName}}</h1>
  <div class="assignments mt-2 py-2">
    <h2 class="mat-h2 sans-serif"> Assignments </h2>
    <div class="row w-75">
      <div class="col w-100">
        <mat-form-field class="w-50 mr-2">
          <mat-label>Book</mat-label>
          <mat-select [(ngModel)]="bookId"  (selectionChange)="update()">
            <mat-option *ngFor="let book of books | async" [value]="book.id">
              {{ book.bookTitle }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-50 mr-2">
          <mat-label>Course</mat-label>
          <mat-select [(ngModel)]="course"  (selectionChange)="update()">
            <mat-option value="BSCPE">
              BS in Computer Engineering
            </mat-option>
            <mat-option value="BSCS">
              BS in Computer Science
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mx-2"  style="width: 20%">
          <mat-label>Year</mat-label>
          <mat-select [(ngModel)]="year"  (selectionChange)="update()">
          <mat-option value="1st">
            1st
          </mat-option>
          <mat-option value="2nd">
            2nd
          </mat-option>
          <mat-option value="3rd">
            3rd
          </mat-option>
          <mat-option value="4th">
            4th
          </mat-option>
          <mat-option value="5th">
            5th
          </mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mx-2"  style="width: 20%">
          <mat-label>Section</mat-label>
          <input matInput placeholder="Section" [(ngModel)]="section" (keyup)="update()">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
     <div class="col">
       <button mat-raised-button color="primary" class="p-2 mt-n2" [disabled]="isAddDisabled || isAdding" (click)="add()" > {{ isAdding ? 'Adding' : 'Add Assignment'   }} </button>
     </div>
    </div>
    <ul class="list-group list-group-flush w-50 mt-3" *ngIf="instructor.assignments?.length > 0; else empty" >
      <li class="list-group-item" *ngFor="let ass of instructor.assignments">
        <div class="row">
          <div class="col">
            <p class="sans-serif"> Book: {{ ass.book.bookTitle }} </p>
            <p class="sans-serif">
              Course: <strong> {{ ass.course }} </strong>  Year: <strong> {{ ass.year }} year </strong>  Section: <strong> {{ ass.section }} </strong>
            </p>
          </div>
          <div class="col-2 text-right">
            <button mat-raised-button color="warn" (click)="remove(ass.id, instructor.id)"> Remove </button>
          </div>
        </div>
      </li>
    </ul>
    <ng-template #empty>
      <h2 class="mat-h2 my-4 text-muted">
        No assigned sections yet.
      </h2>
    </ng-template>
  </div>
</div>
