<div class="py-3">
  <div class="row">
    <div class="col">
      <h1 class="mat-h1"> {{ book?.bookTitle }}</h1>
    </div>
    <div class="col text-right">
      <button mat-stroked-button color="white"> Next Chapter </button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h2 class="mat-h2 mt-2"> {{ chapter?.chapterTitle }}</h2>
      <div class="border-top-1">
        <ul class="list-group list-group-flush">
          <li class="list-group-item pointer" *ngFor="let topic of chapter?.topics" (click)="changeTopic(topic.id)"> {{ topic.topicTitle }} </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="html-content" [innerHTML]="topic?.htmlContent">
      </div>
    </div>
  </div>
</div>
