<div class="row m-0 mt-4">
  <p class="sans-serif font-16">
    <span class="ml-4">
            <mat-radio-group value="ID" class="option" (change)="update()" [(ngModel)]="examType">
              <mat-radio-button color="primary" value="ID">Identification</mat-radio-button>
              <mat-radio-button color="primary" value="MC">Multiple Choice</mat-radio-button>
<!--              <mat-radio-button color="primary" value="CD">Coding</mat-radio-button>-->
            </mat-radio-group>
          </span>
  </p>
  <div class="col-11">
    <div class="identification" *ngIf="examType === 'ID'">
        <mat-form-field class="w-100">
          <mat-label>Type your question here</mat-label>
          <textarea matInput (blur)="update()" [(ngModel)]="question"></textarea>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Answer</mat-label>
          <input matInput  (blur)="update()" [(ngModel)]="answer">
        </mat-form-field>
    </div>
    <div class="multiple" *ngIf="examType === 'MC'">
        <mat-form-field class="w-100">
          <mat-label>Type your question here</mat-label>
          <textarea matInput [(ngModel)]="question"></textarea>
        </mat-form-field>
        <mat-radio-group class="d-flex flex-column" (change)="update()" [(ngModel)]="answer">
          <mat-radio-button value="1" color="primary">
            <mat-form-field>
              <input matInput placeholder="Option 1" class="input" [(ngModel)]="options[0]">
            </mat-form-field>
          </mat-radio-button>
          <mat-radio-button value="2" color="primary">
            <mat-form-field>
              <input matInput placeholder="Option 2" class="input" [(ngModel)]="options[1]">
            </mat-form-field>
          </mat-radio-button>
          <mat-radio-button value="3" color="primary">
            <mat-form-field>
              <input matInput placeholder="Option 3" class="input" [(ngModel)]="options[2]">
            </mat-form-field>
          </mat-radio-button>
          <mat-radio-button value="4" color="primary">
            <mat-form-field>
              <input matInput placeholder="Option 4" class="input" [(ngModel)]="options[3]">
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="identification" *ngIf="examType === 'CD'">
      <mat-form-field class="w-100">
        <mat-label>Type your question here</mat-label>
        <textarea matInput (blur)="update()" [(ngModel)]="question"></textarea>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Output</mat-label>
        <input matInput  (blur)="update()" [(ngModel)]="answer">
      </mat-form-field>
    </div>
  </div>
  <div class="col-1 d-flex align-items-center">
    <button class="btn color-orange" type="button" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
