<div class="side-nav">
  <p class="welcome">Welcome!</p>
  <p class="welcome-name">Admin</p>

    <mat-list class="menu">
      <mat-list-item class="menu-list"><a href="" routerLink="book-manager" class="menu-item" >Book Manager</a></mat-list-item>
      <mat-list-item><a href="" class="menu-item">User Accounts</a></mat-list-item>
      <mat-list-item><a href="" class="menu-item">Section Assignments</a></mat-list-item>
      <mat-list-item><a href="" class="menu-item">Account Settings</a></mat-list-item>
    </mat-list>

</div>
