.side-nav
  height: calc(100vh - 86px)
  border-right: 1px solid orange

.side-nav-list

.menu-item
  color: black

.menu-item:hover
  text-decoration: none

.welcome
  text-align: center
  padding-top: 20px
  font-size: 30px
  color: orange
  font-weight: 500
  margin-bottom: 12px
.welcome-name
  text-align: center
  padding-top: 0px
  font-size: 30px
  color: orange
  font-weight: 500

//.menu
//  border: 1px solid orange
//  height: 500px

