<p class="title mt-4">Update Password</p>
<div class="d-flex flex-column mt-4">
  <mat-form-field appearance="outline" class="sans-serif">
    <mat-label>Old Password</mat-label>
    <input matInput placeholder="" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="sans-serif">
    <mat-label>New Password</mat-label>
    <input matInput placeholder="" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="sans-serif">
    <mat-label>Confirm New Password</mat-label>
    <input matInput placeholder="" required>
  </mat-form-field>

  <button routerLink="" mat-button class="button">Submit</button>

</div>
