<div class="w-50 mx-auto my-lg-5">
  <p class="title mt-4">Update Password</p>
  <div class="col-12">
    <div class="d-flex flex-column ">
      <mat-form-field appearance="outline" class="sans-serif">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" placeholder="" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="sans-serif">
        <mat-label>New Password</mat-label>
        <input matInput type="password" placeholder="" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="sans-serif">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" placeholder="" required>
      </mat-form-field>
      <button routerLink="" mat-button class="button w-100">Submit</button>
    </div>
  </div>
</div>
