<p class="title mt-4">Add User</p>
<div class="mt-5">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Student</mat-radio-button>
    <mat-radio-button value="2">Faculty</mat-radio-button>
  </mat-radio-group>
</div>

<div class="d-flex flex-column mt-4">
  <mat-form-field appearance="outline" class="sans-serif">
    <mat-label>Student Number</mat-label>
    <input matInput placeholder="" required>
  </mat-form-field>
  <div>
    <mat-form-field appearance="outline" class="sans-serif">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="" required>

    </mat-form-field>
    <mat-form-field appearance="outline" class="sans-serif">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="sans-serif">
      <mat-label>Middle Name</mat-label>
      <input matInput placeholder="" required>
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline" class="sans-serif">
    <mat-label>Course</mat-label>
    <mat-select>
      <mat-option value="option" class="sans-serif">Bs in Computer Engineering</mat-option>
      <mat-option value="option" class="sans-serif">Bs in Computer Science</mat-option>
      <mat-option value="option" class="sans-serif">Bs in Information Technology</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <mat-form-field appearance="outline" class="sans-serif">
      <mat-label>Year Level</mat-label>
      <mat-select>
        <mat-option value="option" class="sans-serif">1st Year</mat-option>
        <mat-option value="option" class="sans-serif">2nd Year</mat-option>
        <mat-option value="option" class="sans-serif">3rd Year</mat-option>
        <mat-option value="option" class="sans-serif">4th Year</mat-option>
        <mat-option value="option" class="sans-serif">5th Year</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="sans-serif">
      <mat-label>Section</mat-label>
      <mat-select>
        <mat-option value="option" class="sans-serif">1</mat-option>
        <mat-option value="option" class="sans-serif">2</mat-option>
        <mat-option value="option" class="sans-serif">3</mat-option>
        <mat-option value="option" class="sans-serif">4</mat-option>
        <mat-option value="option" class="sans-serif">5</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mt-4 buttons">
    <button mat-button routerLink="../user-accounts" class="back-button">
      Back
    </button>
    <button mat-button class="button">Save</button>
  </div>
</div>
