<div class="container">
  <p class="title mt-4">Add User</p>
  <h3 class="mt-5 sans-serif"> User type </h3>
  <div>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button color="primary" value="1" checked (click)="toggleStudent()">Student</mat-radio-button>
      <mat-radio-button color="primary" value="2" (click)="toggleFaculty()">Faculty</mat-radio-button>
    </mat-radio-group>
  </div>
  <app-add-student *ngIf="showStudent">

  </app-add-student>

  <app-add-instructor *ngIf="showFaculty">

  </app-add-instructor>


</div>
