@import "src/color"
.instruction
  width: 100%

textarea
  height: 50px

.scroll
  overflow: auto
  margin-top: 20px
  height: calc(100vh - 460px)

.add-button
  height: 52px
  width: 150px
  background-color: $primary
  font-size: 16px
  padding-left: 10px
  color: white
  font-family: $font

.mat-radio-button
  font-family: $font
  font-size: 16px

.mat-radio-button ~ .mat-radio-button
  margin-left: 150px

.hide
  display: none
