<h1 class="sans-serif color-orange pt-4">Exam</h1>
<!--<button mat-stroked-button color="warn" *ngIf="isEditing"> Delete </button>-->
<h2 class="sans-serif">Instructions</h2>
  <mat-form-field class="instruction" appearance="outline">
    <mat-label></mat-label>
    <textarea (keyup)="update()" matInput [(ngModel)]="instructions"></textarea>
  </mat-form-field>
<div class="d-flex justify-content-end">
  <button mat-button (click)="addItem()" [disabled]="isDisabled" class="mt-4 mr-4 add-button">
    <mat-icon class="add-icon">add</mat-icon>
    Add Item
  </button>
<!--  <button mat-button class="mt-4 button" (click)="next()" [disabled]="nextDisabled">-->
<!--    Next-->
<!--  </button>-->
</div>
<app-exam-item-editor *ngFor="let x of exam.examItems" ></app-exam-item-editor>
