
  <div class="row log-in-card ">
    <div class="col">
      <h1>Learn with Ebook</h1>
    </div>
    <div class="col card text-center">
      <h1>Logo</h1>
      <h1>Log In to Ebook</h1>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Student Number</mat-label>
          <input matInput placeholder="">
          <mat-icon matSuffix> person</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </p>
      <button mat-button class="log-in-button">Log In</button>
      <a routerLink="" class="text-right">Log in as administrator/instructor</a>

    </div>
  </div>

