<div>
  <p class="mt-4 sans-serif title">Available Books</p>
</div>

<div class="book-container mt-3 mb-4">
  <div class="d-flex flex-wrap">
    <div class="card">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Basic C++</h5>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <p class="text-center small mb-0 sans-serif">40%</p>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <button mat-button routerLink="book-library" class="mt-4 see-more-button">
        <mat-icon class="add-icon">add</mat-icon>See more</button>
    </div>
  </div>
</div>
