<div class="container">
  <p class="title mt-4">Section Assignment</p>
  <div>
    <div class="row">
      <div class="col-3">
        <p class="sans-serif color-orange font-16 mb-0" style="padding-top: 20px">Faculty Name</p>
        <div class="name-section">
          <mat-nav-list>
            <a mat-list-item class="sans-serif" *ngFor="let ins of instructors" [ngClass]="{ 'selected' : selected?.id === ins?.id }" (click)="selectInstructor(ins.id)">
              <span matLine>{{ ins.lastName }}, {{ ins.firstName }} </span>
            </a>
          </mat-nav-list>
        </div>
      </div>
      <div class="col-9 border-left border-left-1">
        <app-selected-instructor [instructor]="selected" *ngIf="selected; else pleaseSelect" (needsUpdate)="update()"></app-selected-instructor>
        <ng-template #pleaseSelect>
          <h1> Select Instructor </h1>
        </ng-template>
      </div>
    </div>
  </div>
</div>
