<p class="title mt-4">Section Assignment</p>
<div>
  <div class="row">
    <div class="col-4">
      <div class="d-flex flex-row justify-content-between border-bottom  mt-4">
        <p class="sans-serif color-orange font-16 pt-3 mb-0">Faculty Name</p>
        <p class="search-box">
          <mat-form-field class="sans-serif" appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix class="orange-icon">search</mat-icon>
          </mat-form-field>
        </p>
      </div>
      <div>
        <mat-nav-list style="padding-top: 0px!important">
          <a mat-list-item class="sans-serif">
            <span matLine>Engr. Laurean Ray S. Bahala</span>
          </a>
          <a mat-list-item class="sans-serif">
            <span matLine>Title</span>
          </a>
          <a mat-list-item class="sans-serif">
            <span matLine>Title</span>
          </a>
          <a mat-list-item class="sans-serif">
            <span matLine>Title</span>
          </a>
          <a mat-list-item class="sans-serif">
            <span matLine>Title</span>
          </a>
          <a mat-list-item class="sans-serif">
            <span matLine>Title</span>
          </a>
          <a mat-list-item class="sans-serif">
            <span matLine>Title</span>
          </a>
          <a mat-list-item class="sans-serif">
            <span matLine>Title</span>
          </a>
          <a mat-list-item class="sans-serif">
            <span matLine>Title</span>
          </a>
          <a mat-list-item class="sans-serif">
            <span matLine>Title</span>
          </a>
          <a mat-list-item class="sans-serif">
            <span matLine>Title</span>
          </a>
          <a mat-list-item class="sans-serif">
            <span matLine>Title</span>
          </a>

        </mat-nav-list>
      </div>

    </div>
    <div class="col">
    <p class="sans-serif color-orange faculty-name">Engr. Laurean Ray S. Bahala</p>
   <div>

   </div>
    </div>
  </div>
</div>
