<div class="">
  <p class="title mt-4 ml-4">Add Book</p>
  <mat-horizontal-stepper [linear]="isLinear" #stepper class="mt-4">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" >
        <ng-template matStepLabel>Book Description</ng-template>
       <div class="d-flex flex-column">
         <mat-form-field appearance="outline">
           <mat-label>Book Title</mat-label>
           <input matInput placeholder="" formControlName="firstCtrl" required>
           <mat-icon matSuffix class="orange-icon">book</mat-icon>
         </mat-form-field>
         <mat-form-field appearance="outline">
           <mat-label>Author/s</mat-label>
           <input matInput placeholder="" formControlName="firstCtrl" required>
           <mat-icon matSuffix class="orange-icon"> person</mat-icon>
         </mat-form-field>
         <div>
           <mat-form-field appearance="outline">
             <mat-label>Book Cover</mat-label>
             <input matInput placeholder="" formControlName="firstCtrl" required>
             <mat-icon matSuffix class="orange-icon">image</mat-icon>
           </mat-form-field>
           <button mat-button routerLink="../add-book" class="browse-button">
             Browse
           </button>
         </div>
       </div>
<!--        <mat-form-field>-->
<!--          <mat-label>Name</mat-label>-->
<!--          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
<!--        </mat-form-field>-->
        <div class="mt-4 buttons">
          <button mat-button routerLink="../book-manager" class="back-button">
            Back
          </button>
          <button mat-button matStepperNext class="button">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Add Access</ng-template>
        <div class="d-flex flex-column mt-4">
        <mat-checkbox>Give access to all</mat-checkbox>

        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
