<div class="d-flex flex-row">
  <p class="mt-4 sans-serif title mb-0">Book Library</p>
    <mat-form-field class="search-box sans-serif" appearance="outline">
      <mat-label>Search book</mat-label>
      <input matInput placeholder="">
      <mat-icon matSuffix class="orange-icon">search</mat-icon>
    </mat-form-field>
</div>
<div class="book-container">
  <div class="d-flex flex-wrap">
    <div class="card">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Basic C++</h5>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <p class="text-center small mb-0 sans-serif">40%</p>
      </div>
    </div>
    <div class="d-flex align-items-center">
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Basic C++</h5>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <p class="text-center small mb-0 sans-serif">40%</p>
      </div>
    </div>
    <div class="d-flex align-items-center">
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Basic C++</h5>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <p class="text-center small mb-0 sans-serif">40%</p>
      </div>
    </div>
    <div class="d-flex align-items-center">
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Basic C++</h5>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <p class="text-center small mb-0 sans-serif">40%</p>
      </div>
    </div>
    <div class="d-flex align-items-center">
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Basic C++</h5>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <p class="text-center small mb-0 sans-serif">40%</p>
      </div>
    </div>
    <div class="d-flex align-items-center">
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Basic C++</h5>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <p class="text-center small mb-0 sans-serif">40%</p>
      </div>
    </div>
    <div class="d-flex align-items-center">
    </div>
  </div>
</div>

