<div class="parent">
  <div class="row log-in-card">
    <div class="col">
      <h1 class="sans-serif">*Insert Layout Here*</h1>
    </div>
    <div class="col card">
      <div class="card-body text-center">
        <img src="../assets/logo-only.png" style="width: auto; height: 60px" alt="">
        <h1 class="sans-serif">Log in to CS Ebook</h1>
        <p>
          <mat-form-field class="log-in-input" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix class="orange-icon"> person</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="log-in-input" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput  placeholder="">
            <mat-icon matSuffix class="orange-icon">lock</mat-icon>
          </mat-form-field>
        </p>
        <button mat-button routerLink="/admin" class="log-in-button">Log In</button>
        <a routerLink="" class="sans-serif">Log in as student</a>
      </div>
    </div>
  </div>

</div>
