<div class="parent">
  <div class="row log-in-card">
    <div class="col p-0">
      <img src="../assets/e-learning.jpg " style="width: 432px" alt="">
    </div>
    <div class="col card">
      <div class="card-body text-center">
        <img src="../assets/logo-only.png" style="width: auto; height: 60px" alt="">
        <h1 class="sans-serif">Log in to CS Ebook</h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="log-in-input" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username">
              <mat-icon matSuffix class="orange-icon"> person</mat-icon>
              <mat-error *ngIf="usernameFormControl.invalid"> {{getErrorMessage()}}</mat-error>
              <mat-error *ngIf="invalidCredentials"> Invalid Credentials </mat-error>

            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="log-in-input" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password"  placeholder="" formControlName="password">
              <mat-icon matSuffix class="orange-icon">lock</mat-icon>
              <mat-error *ngIf="usernameFormControl.invalid"> {{getErrorMessage()}}</mat-error>
              <mat-error *ngIf="invalidCredentials"> Invalid Credentials </mat-error>

            </mat-form-field>
          </p>
          <button mat-button class="log-in-button" [disabled]="submitted"> {{ submitted ? 'Logging in': 'Login in'}}</button>
        </form>
        <a routerLink="" class="sans-serif" style="padding-right: 8px">Log in as student</a>
      </div>
    </div>
  </div>

</div>
