<div class="side-nav">
  <p class="welcome">Welcome, <br> Admin</p>
    <mat-list class="menu">
      <mat-list-item><a routerLink="book-manager" class="menu-item" >Book Manager</a></mat-list-item>
      <mat-list-item><a routerLink="user-accounts" class="menu-item">User Accounts</a></mat-list-item>
      <mat-list-item><a routerLink="section-assignment" class="menu-item">Section Assignments</a></mat-list-item>
      <mat-list-item><a routerLink="account-settings" class="menu-item">Account Settings</a></mat-list-item>
    </mat-list>
</div>
