@import "../../../../../color"
.side-nav
  height: calc(100vh - 111px)

.menu-item
  color: black
  font-family: $font

.menu-item:hover
  text-decoration: none

.mat-list-item:hover
  background: $primary

.welcome
  text-align: center
  padding-top: 20px
  font-size: 24px
  color: $primary
  font-weight: bold
  font-family: $font
  line-height: 1.6

