<div class="pt-4">
  <a routerLink="" class="text-decoration-none"><h2 class="mat-h2 sans-serif color-orange"> {{ book?.bookTitle }} </h2></a>

  <mat-accordion >
    <div (contextmenu)="onRightClick($event)">
      <mat-expansion-panel [expanded]="lastSelectedChapter === chapter.id" (opened)="selectChapter(chapter.id)"
                           class="my-2 sans-serif" *ngFor="let chapter of book?.chapters">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ chapter.chapterTitle }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="list-group sans-serif">
          <a class="list-group-item list-group-item-action" [ngClass]="{ 'active' : topic.id === activeTopic }"
             (click)="topicClicked(topic.id)" *ngFor="let topic of chapter.topics"> {{topic.topicTitle}} </a>
          <a class="list-group-item list-group-item-action text-primary" (click)="addTopic(chapter.id)"> Add Topic </a>
          <a class="list-group-item list-group-item-action text-secondary" (click)="addExam(chapter.id)"> Add Exam </a>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>

  <mat-card>
    <!--    <mat-form-field class="w-100 sans-serif" *ngIf="isAddingChapter">-->
    <!--      <mat-label>Chapter Title</mat-label>-->
    <!--      <input matInput placeholder="Chapter Title" value="" (keyup)="onKeyUp($event)">-->
    <!--    </mat-form-field>-->

    <mat-form-field appearance="outline" class="w-100" *ngIf="isAddingChapter">
      <mat-label>Chapter Title</mat-label>
      <input matInput placeholder="Chapter Title" value="" (keyup)="onKeyUp($event)">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" class="sans-serif" (click)="addChapter()"
            [attr.disabled]="isAddingChapter === true ? 'disabled' : null"> Add Chapter
    </button>
  </mat-card>
</div>
