<div class="px-2">
  <button mat-raised-button routerLink="/admin/book-manager"> Back </button>

  <a routerLink="details" class="text-decoration-none">
  <h2 class="color-orange sans-serif mat-h2 mt-4">
      {{book?.bookTitle}}
  </h2>
  </a>

  <mat-accordion>
    <div (contextmenu)="onRightClick($event)">
      <mat-expansion-panel [expanded]="lastSelectedChapter === chapter.id" (opened)="selectChapter(chapter.id)"
                           class="my-2 sans-serif" *ngFor="let chapter of book?.chapters">
        <mat-expansion-panel-header>
          <mat-panel-title class="chapter-title">
            {{ chapter.chapterTitle }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="list-group sans-serif">
          <a class="list-group-item list-group-item-action" [ngClass]="{ 'active' : topic.id === activeTopic }"
             (click)="topicClicked(topic.id)" *ngFor="let topic of chapter.topics"> {{topic.topicTitle}} </a>
          <a class="list-group-item list-group-item-action text-dark" (click)="addTopic(chapter.id)">
            <fa-icon [icon]="faPlus"></fa-icon>
            Add Topic </a>
          <a class="list-group-item list-group-item-action" (click)="addExam(chapter.id)"
            [ngClass]="{ 'active' : isAddingExam === true } "
            >
            <fa-icon [icon]="faPlus"></fa-icon> {{ isAddingExam ? 'Adding Exam' : 'Add Exam'}} </a>
          <a class="list-group-item list-group-item-action" (click)="deleteChapter(chapter)">
            <fa-icon [icon]="faTrash"></fa-icon> Delete Chapter </a>
        </div>

      </mat-expansion-panel>
    </div>
  </mat-accordion>

  <mat-card>
    <mat-form-field appearance="outline" class="w-100" *ngIf="isAddingChapter">
      <mat-label>Chapter Title</mat-label>
      <input matInput placeholder="Chapter Title" autocomplete="off" [(ngModel)]="chapterTitle" (keyup)="onKeyUp($event)">
    </mat-form-field>
    <button mat-raised-button color="primary" class="sans-serif" (click)="addChapter()"
            *ngIf="!isAddingChapter; else notAdding"> Add Chapter
    </button>

    <ng-template #notAdding>
      <button [disabled]="!isSaveEnabled" mat-raised-button color="primary" class="sans-serif" (click)="save()"
      > Save
      </button>
    </ng-template>
  </mat-card>
</div>
