<div>
  <h1 mat-dialog-title>Add Topic </h1>
    <mat-form-field appearance="outline" class="width-100">
      <mat-label>Topic Title</mat-label>
      <input (keyup)="change($event)" [(ngModel)]="topicTitle" [disabled]="isAdding" matInput placeholder="Title" style="width: 100%">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addTopic()" [disabled]="isAdding || disabled"> {{ isAdding ? 'Adding topic' : 'Add Topic' }} </button>
</div>
