<div class="row mt-4">
  <div class="col-4">
    <img class="cover" src="{{ bookCoverURLParsed }}" alt="Card image cap">
    <p>
      <input type="file" #file placeholder="Choose file" (change)="fileChange(file.files)"
             style="display:none;">
<!--      <button type="button" mat-raised-button color="warn" (click)="delete(book?.id)">Delete Book</button>-->
      <button type="button" mat-raised-button color="primary" (click)="file.click()">Upload Image</button>
      <button type="button" mat-raised-button class="ml-2" (click)="updateDetails()" [disabled]="isSaving || isDisabled">
        {{ isUpdatingDetails ? 'Save' : 'Update Book Details' }}
      </button>

    </p>

  </div>
  <div class="col-8">
    <h2 class="mat-h2 sans-serif mb-0" *ngIf="!isUpdatingDetails; else bt"> {{ book?.bookTitle }}</h2>
    <p class="m-0">
      <ng-template
        #bt>
        <mat-form-field appearance="outline">
          <mat-label>Book Title</mat-label>
          <input matInput placeholder="Book Title" (keyup)="keyup()" [(ngModel)]="bookTitle">
        </mat-form-field>
      </ng-template>
    </p>
    <h3 class="mat-h3" *ngIf="!isUpdatingDetails; else ba"> {{ book?.bookAuthor }}</h3>
    <p class="m-0">
      <ng-template
        #ba>
        <mat-form-field appearance="outline">
          <mat-label>Book Author</mat-label>
          <input matInput placeholder="Book Author" (keyup)="keyup()" [(ngModel)]="bookAuthor">
        </mat-form-field>
      </ng-template>
    </p>
    <p class="description" *ngIf="!isUpdatingDetails; else d"> {{ book?.bookDescription }}</p>
    <p class="m-0">
      <ng-template #d
      >
        <mat-form-field appearance="fill">
          <mat-label>Book Description</mat-label>
          <textarea matInput (keyup)="keyup()" [(ngModel)]="bookDesc"></textarea>
        </mat-form-field>
      </ng-template>
    </p>
  </div>
</div>

