<div>
  <p class="mt-4 sans-serif title">Grades</p>

  <div class="example-container">
    <table mat-table [dataSource]="grades">
      <!-- Book Column -->
      <ng-container matColumnDef="book">
        <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Book </th>
        <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.exam.chapter.book.bookTitle}} </td>
      </ng-container>

      <ng-container matColumnDef="chapter">
        <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Chapter  </th>
        <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.exam.chapter.chapterTitle}} </td>
      </ng-container>

      <!-- Chapter Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Score </th>
        <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.score}} / {{ element.total }} </td>
      </ng-container>

      <!-- Score Column -->
      <ng-container matColumnDef="percent">
        <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Percentage </th>
        <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.percent}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="GradesDisplayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: GradesDisplayedColumns;"></tr>
    </table>
  </div>
</div>
