@import "src/color"

.example-container
  height: 500px
  overflow: auto

table
  width: 100%

::ng-deep th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type
  padding-left: 0px !important

