<div class="d-flex flex-row">
  <button mat-button routerLink="../add-user" class="mt-4 add-user-button">
    <mat-icon class="add-icon">add</mat-icon>Add User</button>
  <p class="search-box">
    <mat-form-field class="sans-serif" appearance="outline">
      <mat-label>Search book</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" >
      <mat-icon matSuffix class="orange-icon">search</mat-icon>
    </mat-form-field>
  </p>
</div>

<div class="mt-4">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button color="primary" value="1" (click)="toggleStudent()" checked>Student</mat-radio-button>
    <mat-radio-button color="primary" value="2" (click)="toggleFaculty()">Faculty</mat-radio-button>
  </mat-radio-group>
</div>
<ng-container *ngIf="showStudent">
<div id="student-table" class="example-container">
  <table mat-table [dataSource]="studentDataSource">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> No. </th>
      <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.id}} </td>
    </ng-container>

    <!-- Student No. Column -->
    <ng-container matColumnDef="studNum">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Student Number </th>
      <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.studNum}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Last Name, First Name Middle Name </th>
      <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.name}} </td>
    </ng-container>

    <!-- Course Column -->
    <ng-container matColumnDef="course" >
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Course </th>
      <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.course}} </td>
    </ng-container>

    <!-- Year Level Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Year Level </th>
      <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.year}} </td>
    </ng-container>

    <!-- Section Column -->
    <ng-container matColumnDef="section">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Section </th>
      <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.section}} </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"></th>
      <td mat-cell *matCellDef="let element" class="color-orange"><a><mat-icon>{{element.edit}}</mat-icon> </a></td>
    </ng-container>

    <!-- Trash Column -->
    <ng-container matColumnDef="trash">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"></th>
      <td mat-cell *matCellDef="let element" class="color-orange"><a><mat-icon>{{element.trash}}</mat-icon> </a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="studentDisplayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: studentDisplayedColumns;"></tr>
  </table>
</div>
</ng-container>
<ng-container *ngIf="showFaculty">
<div id="faculty-table" class="example-container">
  <table mat-table [dataSource]="facultyDataSource">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> No. </th>
      <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.id}} </td>
    </ng-container>

    <!-- Employee No. Column -->
    <ng-container matColumnDef="empNum">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Employee Number </th>
      <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.empNum}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Last Name, First Name Middle Name </th>
      <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.name}} </td>
    </ng-container>

    <!-- Honorifics Column -->
    <ng-container matColumnDef="honorifics">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Honorifics </th>
      <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.honorifics}} </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"> Username </th>
      <td mat-cell *matCellDef="let element" class="sans-serif"> {{element.username}} </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"></th>
      <td mat-cell *matCellDef="let element" class="color-orange"><a><mat-icon>{{element.edit}}</mat-icon> </a></td>
    </ng-container>

    <!-- Trash Column -->
    <ng-container matColumnDef="trash">
      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange sans-serif"></th>
      <td mat-cell *matCellDef="let element" class="color-orange"><a><mat-icon>{{element.trash}}</mat-icon> </a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="facultyDisplayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: facultyDisplayedColumns;"></tr>
  </table>
</div>
</ng-container>
