<div class="d-flex flex-row">
  <button mat-button routerLink="../add-book" class="mt-4 add-book-button">
    <mat-icon class="add-icon">add</mat-icon>Add Book</button>
  <p class="search-box">
    <mat-form-field class="sans-serif" appearance="outline">
      <mat-label>Search book</mat-label>
      <input matInput placeholder="">
      <mat-icon matSuffix class="orange-icon">search</mat-icon>
    </mat-form-field>
  </p>
</div>

<div class="card-container d-flex flex-wrap">
  <app-book-item-card [bookId]="1" [bookTitle]="'asdadasdad sdasd'"></app-book-item-card>
  <app-book-item-card [bookId]="2" [bookTitle]="'asdadasdad sdasd'"></app-book-item-card>
  <app-book-item-card [bookId]="3" [bookTitle]="'asdadasdad sdasd'"></app-book-item-card>
  <app-book-item-card [bookId]="4" [bookTitle]="'asdadasdad sdasd'"></app-book-item-card>
  <app-book-item-card [bookId]="5" [bookTitle]="'asdadasdad sdasd'"></app-book-item-card>
</div>
