
<div class="mt-4">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Student</mat-radio-button>
    <mat-radio-button value="2">Faculty</mat-radio-button>
  </mat-radio-group>
</div>

<!--<div class="example-container">-->
<!--  <table mat-table [dataSource]="dataSource" class="sans-serif">-->
<!--    &lt;!&ndash; Position Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="position">-->
<!--      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange"> No. </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Student No. Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="student number">-->
<!--      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange"> Student Number </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.studNum}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="name">-->
<!--      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange">Last Name, First Name, Middle Name</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Course Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="course">-->
<!--      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange">Course</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.course}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Year Level Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="year level">-->
<!--      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange">Year Level</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.yrLevel}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Section Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="section">-->
<!--      <th mat-header-cell *matHeaderCellDef class="font-16 color-orange">Section</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.section}} </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->
<!--</div>-->
