@import "../../../../../color"
.side-nav
  height: calc(100vh - 111px)
  border-right: 1px solid $primary


.menu-item
  color: black
  font-family: $font

.menu-item:hover
  text-decoration: none

.mat-list-item:hover
  //background: rgba(255, 85, 0, 0.7) !important
  background: $primary

.welcome
  padding: 20px 16px 0px 16px
  font-size: 20px
  color: $primary
  margin-bottom: 4px
  font-family: $font
  line-height: 1.6
  font-weight: bold

.course
  color: $primary
  font-family: $font
  padding: 0px 16px

