<div class="side-nav">
  <p class="welcome">Welcome! <br> <span>Laurean Ray S. Bahala</span></p>

  <mat-list class="menu">
    <mat-list-item><a routerLink="home" class="menu-item" >Home</a></mat-list-item>
    <mat-list-item><a routerLink="user-accounts" class="menu-item">Book Library</a></mat-list-item>
    <mat-list-item><a routerLink="section-assignment" class="menu-item">Grades</a></mat-list-item>
    <mat-list-item><a routerLink="account-settings" class="menu-item">View Profile</a></mat-list-item>
  </mat-list>

</div>
