.add-book-button
  margin-top: 20px
  height: 52px
  width: 150px
  background-color: orange
  font-size: 16px
  padding-left: 10px
  color: white


.add-icon
 font-size: 20px

.search-box
  margin-left: auto
  margin-top: 16px

.card-title
  font-size: 16px

.card-img-top
  width: 198px
  height: 316px
  //object-fit: cover
  //object-position: 100% 0


.card
  width: 200px
  margin: 20px 20px 0px 0px

.card-container
  display: flex
  flex-flow: row

