<div class="d-flex flex-row">
  <button mat-button routerLink="../add-book" class="mt-4 add-book-button">
    <mat-icon class="add-icon">add</mat-icon>
    Add Book
  </button>
  <p class="search-box">
    <mat-form-field class="log-in-input" appearance="outline">
      <mat-label>Search book</mat-label>
      <input matInput placeholder="">
      <mat-icon matSuffix class="orange-icon">search</mat-icon>
    </mat-form-field>
  </p>
</div>

<div class="card-container">
  <div class="card">
    <a href="">  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Basic Programming C++</h5>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <p class="text-center small mb-0">40%</p>
    </div>
  </div>
  <div class="card">
    <a href="">  <img class="card-img-top" src="https://www.oreilly.com/library/view/beginning-c-programming/9781787124943/assets/cover-1.png" alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Basic Programming C++</h5>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <p class="text-center small mb-0">40%</p>
    </div>
  </div>
  <div class="card">
    <a href="">  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Basic Programming C++</h5>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <p class="text-center small mb-0">40%</p>
    </div>
  </div>
  <div class="card">
    <a href="">  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Basic Programming C++</h5>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <p class="text-center small mb-0">40%</p>
    </div>
  </div>

</div>
