.add-book-button
  margin-top: 20px
  height: 50px
  width: 150px
  border: 1px solid
  font-size: 16px

.add-icon
 font-size: 20px

.card-title
  font-size: 16px

.card-img-top
  width: 198px
  height: 316px
  //object-fit: cover
  //object-position: 100% 0


.card
  width: 200px
  margin: 20px 20px 0px 0px

.card-container
  display: flex
  flex-flow: row

