<!--<button mat-button class="add-book-button">-->
<!--  <mat-icon class="add-icon">add</mat-icon>-->
<!--  Add Book-->
<!--</button>-->

<!--<div class="card-container">-->
<!--  <div class="card">-->
<!--  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Basic Programming C++</h5>-->
<!--      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Basic Programming C++</h5>-->
<!--      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Basic Programming C++</h5>-->
<!--      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Basic Programming C++</h5>-->
<!--      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
