<button mat-button class="add-book-button">
  <mat-icon class="add-icon">add</mat-icon>
  Add Book
</button>

<div class="card-container">
  <div class="card">
  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Basic Programming C++</h5>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.cprogramming.com/books/cover_with_border_jumping_into_C++.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Basic Programming C++</h5>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.oreilly.com/library/view/beginning-c-programming/9781787124943/assets/cover-1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Basic Programming C++</h5>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51KPj3gS0vL.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Basic Programming C++</h5>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
  </div>

</div>
